
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fef29c;
  color: #515044;
}
.music-player-container {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  height: 370px;
  position: absolute;
  min-width: 460px;
  left: 50%;
  top: 50%;
}
.music-player-container:after {
  -webkit-filter: blur(8px);
  filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.8);
  bottom: -2px;
  content: " ";
  display: block;
  height: 50px;
  left: 19px;
  position: absolute;
  transform: rotate(-3deg);
  width: 70%;
  z-index: 0;
}

.music-player {
  background-color: #3AB0FF;
  height: 370px;
  padding: 40px 250px 40px 40px;
  position: absolute;
  text-align: right;
  width: 700px;
  z-index: 3;
}

.player-content-container {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}

.artist-name {
  font-size: 35px;
  font-weight: normal;
}

.album-title {
  font-weight: 200;
  font-size: 24px;
}

.song-title {
  font-size: 18px;
  font-weight: 200;
}

.album {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.65);
  height: 315px;
  margin-left: 500px;
  margin-top: 27px;
  position: relative;
  width: 315px;
  z-index: 10;
}
.album-art {
  background: #fff url("") center/cover no-repeat;
  height: 315px;
  position: relative;
  width: 315px;
  z-index: 10;
}
.vinyl {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
  background-position: center, center;
  background-size: cover, 40% auto;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  height: 300px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 300px;
  z-index: 5;
  will-change: transform, left;
}
.is-playing .vinyl {
  left: 52%;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
