  <style>
    .fixTableHead {
      overflow-y: auto;
      height: 90vh;
    }
    .fixTableHead thead th {
      position: sticky;
      top: 0;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th {
      background: #ffffff;
    }

  </style>