{% extends 'template.html' %}
{% block content %}
<div class="row">
   <div class="col-sm">
       <img class="rounded img-thumbnail mx-auto d-block" src="/static/imagens/capas/{{capa}}">
   </div>
   <div class="col-sm">
        <h2>Alterar a partir de uma URL:</h2>

       <form action="{{ url_for('alterar_capa', capa=capa) }}" method="post" enctype="multipart/form-data">
           <input type="hidden" id="capa" name="capa" value="{{ capa }}">
        <input type="text" id="url" name="url" class="form-control col-sm-10 col-form-label" autocomplete="off">

       <h2>Alterar a partir de um arquivo:</h2>
       <input class="form-control btn-secondary" type="file" name="arquivo" id="arquivo">
       <button type="submit" class="btn btn-primary mr-2"><i class="fas fa-plus-square"></i> Salvar</button>
       </form>
        <br>
        <a class="btn btn-danger float-left" href = "/editar_musicas"><i class="fas fa-arrow-left"></i> Voltar</a>
    </div>

</div>
{% endblock %}