{% extends 'template.html' %}
{% block content %}
	<link rel="stylesheet" href="/static/css/disco.css">
	<link rel="stylesheet" href="/static/css/legendas.css">
    <div class="featured-movie">
        <div style="position: relative;" class="bottom-bar">
            <div class="title-container" >
                <span class="fa fa-play-circle " ></span>
                	<b>
		Pausar <span class="badge badge-secondary">P</span>
		| Sair <span class="badge badge-secondary">S</span>
		| Reiniciar <span class="badge badge-secondary">R</span>
		| Aumentar volume <span class="badge badge-secondary">+</span>
		| Diminuir volume <span class="badge badge-secondary">-</span>
	</b>
            </div>
        </div>
    </div>

<video id="myVideo" width="1200" style="display:none ">

					{% for musica in musica %}
    <source src="/static/video/{{ musica.video }}" type="video/mp4" >

    <track id="legenda" kind="subtitles" src="/static/legenda/{{ musica2 }}.vtt" srclang="pt" label="Português" default>

</video>
<div class="music-player-container is-playing position-fixed">
	<div class="music-player">
		<div class="player-content-container">

			<h1 class="artist-name">{{ musica.titulo }}</h1>
			<h2 class="album-title">{{ musica.artista }}</h2>
			<h3 class="song-title">{{ musica.album }}</h3>
			<br><br>

				<button id="playButton" class="btn btn-secondary btn-lg">Cantar!</button>
			<br><br>
		</div>
	</div>
	<div class="album">
  		<img class="album-art" src="/static/imagens/capas/{{ musica.capa }}">
		<div class="vinyl" style="background-image: url('/static/imagens/disco.png'),url('/static/imagens/capas/{{ musica.capa }}');"></div>
		   {% endfor %}

	</div>
</div>
<script src="/static/js/video.js"></script>
{% endblock %}